@model PagedList.IPagedList<Store.WebMVC.Models.FoodViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Products";
}

<div id="updateProducts">
    @Html.Partial("FoodSummary")
</div>

<div class="float-right">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = ViewBag.category }))
</div>
