
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your order has been successfully processed</h2>
<h4>@ViewBag.name @ViewBag.lname your order has been successfully processed</h4>
